DB_URL=postgres://user:password@localhost:5432/authdb?sslmode=disable
REDIS_URL=redis://localhost:6379/0
JWT_PRIVATE_KEY_PATH=jwt_rs256.pem
JWT_PUBLIC_KEY_PATH=jwt_rs256.pub
PORT=8081
MIGRATIONS_PATH=migrations
